.backDrop {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.8;
}

.overlay {
    z-index: 1500;
    position: absolute;
    height: 300px;
    width: 50%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 20px;
}